.crop-title-75 {
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label-box-create {
    color: #3c8dbc;
}

.label-box-edit {
    color: #f39c12;
}

.label-box-show {
    color: #3c8dbc;
}

.admin_notification {
    margin: 10px 10px 10px 10px;
}